button {
    flex: 1;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #f44236;
    border: none;
    border-radius: 8px;
    color: #fff;
    opacity: .9;
}

button:hover {
opacity: 1;
}

#clear-btn {
    background-color: #444;
}